.floating-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	height: 100%;
	width: 60%;

	font-size: 1.5rem;

	h3:hover {
		color: #fa4646;
		cursor: pointer;
	}
}
