@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&display=swap');

:root {
    --dark: #404040;
    --dark-bg: #494949;
    --white: #fff;
}

// html, body, #app, #app>div {
//     height: 100%;
//     background-color: var(--dark-bg);
// }

body {
    font-family: 'League Spartan', sans-serif;
}
 
// #outlet {    
//     &.light {
//         color: var(--dark);
//     }

//     &.dark {
//         color: var(--white);
//         border: 1px solid magenta;
//     }
// }